/* Grid */

// Breakpoints
$breakpoint-mobile: 400px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 900px;
$breakpoint-desktop: 1200px;

// Colours

$red: #ec1550;
$white: #fff;

// Grid
.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

// Clearing 
.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both;
}

// Devices > 400px
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0;
  }
}

// Devices > 768px
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  .column,
  .columns {
    margin-left: 4%; 
  }
  .column:first-child, .columns:first-child, .alpha, .one-half.column:nth-child(odd) {
    margin-left: 0;
  }
  .one.column, .one.columns { 
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .four-half.columns {
    width: 35%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  
  .six.columns {
    width: 48%;
  }
  .seven.columns { 
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74.0%;
    &.extra_gutter {
      width: 70%;
      margin-left: 8%;
    }
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns, .full.columns {
    width: 100%; margin-left: 0;
  }
  // Thirds
  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }
  .one-half.column {
    width: 50%;
    margin-left: 0;
  }
  .squashed, .no_left_margin {
    margin-left: 0;
    &:first-child {
      margin-left: 4%;
    }
  }
  .one-third.column.no_left_margin {
    width: 34.6666666667%;
  }
  
  // Offsets
  .offset-by-one.column, .offset-by-one.columns { 
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 78.0%;
  }
  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.column, .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.column, .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

// Border Radius | @include border-radius(10px);
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body.home footer {
  margin-top: 0 !important;
}

section {
  overflow: hidden;
}

a.btn {
  display: inline-block;
  border: 1px solid #574658;
  @include border-radius(5px);
  color: #574658;
  padding: 15px 70px 15px 20px;
  font-size: 18px;
  display: inline-block;
  background: url('images/button_arrow.svg') no-repeat right 20px center;
  &:hover, &.active {
    border: 1px solid $red;
    background: url('images/button_arrow_white.svg') no-repeat right 20px center $red;
    color: $white;
    &:visited {
      color: $white;
    }
  }
  &:visited {
    color: #574658;
  }
  &.white {
    border: 1px solid $white;
    color: $white;
    background: url('images/button_arrow_white.svg') no-repeat right 20px center;
    &:hover {
      background: url('images/button_arrow_blue.svg') no-repeat right 20px center $white;
      color: #0e9899;
      &:visited {
        color: #0e9899;
      }
    }
    &:visited {
      color: $white;
    }
  }
  &.wide {
    padding: 15px 40px;
  }
}

/* Header */
.home_header {
  color: $white;
  padding: 120px 0px 240px 0px;
  background: url('images/header.svg') center bottom no-repeat;
  h2 {
    font-size: 32px;
    color: $white;
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}


/* Services */
.our_services {
  overflow: visible;
  text-align: center;
  .alignment {
    padding: 60px 40px 20px 40px;
    margin-top: -120px;
    background: $white;
    @include border-radius(10px 10px 0px 0px);
    overflow: hidden;
  }
  
  h3 {
  font-size: 36px;
  margin-bottom: 30px;
  }
  p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .service_item {
    padding: 40px 0px 0px 0px;
    text-align: center;
    position: relative;
    &.slick-current {
      a {
        .service_icon {
          svg {
            background: #574759;
            path {
              fill: $white;
            } 
          }
        }
      }
    }
    a:hover {
      .service_icon {
        svg {
          background: #574759;
          path {
            fill: $white;
          } 
        }
      }
    }
    a h3 {
      color: #574759;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: normal;
    }
    .service_icon {
      svg {
        @include border-radius(50%);
        border: 1px solid #e4e1e3;
        width: 125px;
        padding: 10px;
        height: auto;
        margin: 0px auto 30px auto;
        background: $white;
        box-shadow: 1px 4px rgba(230, 227, 229, 0.2);
      }
    }
  }
  .slick-prev {
    background: url('images/slider_left.svg') center center no-repeat;
    width: 26px;
    height: 45px;
    z-index: 2;
    top: 44%;
    left: -25px;
  }
  
  .slick-next {
    z-index: 2;
    background: url('images/slider_right.svg') center center no-repeat;
    width: 26px;
    height: 45px;
    top: 44%;
    right: -25px;
  }
}

/* Reports */
.reports-full-width {
  display: flex;
  position: relative;
  @media (min-width: $breakpoint-tablet) {
    .background {
      background: linear-gradient(90deg, #f8f8f8 50%, $red 50%);
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: pink;
      z-index: 0;
    }
  }
  .container {
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      padding: 0;
    }
  }
}
.reports-icon {
  position: relative;
  height: 400px;
  @media (min-width: $breakpoint-tablet) {
    height: 100%;
  }
  flex: 1;
  z-index: 1;
  padding: 40px;
  background: $red;
  color: $white;
  h3 {
    color: $white;
  }
  svg {
    @include border-radius(50%);
    border: 3px solid $white;
    width: 250px;
    padding: 20px;
    height: auto;
    margin: 0px auto 30px auto;
    path {
      fill: $white;
    }
  }
  .shadow {
    height: 15px;
    width: 250px;
    background: #bf2454;
    @include border-radius(50%);
    display: block;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}
.reports {
  flex: 1;
  z-index: 1;
  color: #574759;
  background: #f8f8f8;
  padding: 40px;
  @media (min-width: $breakpoint-tablet) {
  padding: 40px 40px 40px 0px;
  }
  h3 {
    font-size: 34px;
  }
}

/* Browse */
.browse {
  background: #574759;
  color: $white;
  padding: 40px 0px;
  p {
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
  }
  a.btn {
    float: right;
  }
}


/* Support */
.support {
  padding: 60px 0px;
  .support_slider {
    padding: 40px;
    h3 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
      margin-bottom: 40px;
    }
    .slide {
      padding: 40px;
    }
    .slick-prev {
      background: url('images/slider_left.svg') center center no-repeat;
      width: 26px;
      height: 45px;
      z-index: 2;
      top: 44%;
      left: -5px;
      @media (min-width: $breakpoint-tablet) {
        left: -25px;
      }
    }
    .slick-next {
      z-index: 2;
      background: url('images/slider_right.svg') center center no-repeat;
      width: 26px;
      height: 45px;
      top: 44%;
      right: -5px;
      @media (min-width: $breakpoint-tablet) {
        right: -25px;
      }
    }
    .slick-dots {
      position: absolute;
      top: -20px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;
      height: 20px;
      li {
        border: 1px solid #574658;
        &:before {
          content: "";
        }
        &.slick-active {
          background: #574658;
        }
      }
    }
  }
  .image {
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
    
/* News */
.news-full-width {
  position: relative;

  @media (min-width: $breakpoint-tablet) {
    .background {
      background: linear-gradient(90deg, #a72f8d 50%, #574759 50%);
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: pink;
      z-index: 0;
    }
  }
  .container {
    display: flex;
    @media (max-width: $breakpoint-tablet) {
      width: 100%;
      padding: 0;
      display: block;
    }
  }
}
.news-icon {
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
  flex: 1;
  z-index: 1;
  padding: 40px;
  background: #a72f8d url('images/news-bubbles.svg') left center no-repeat;
  background-size: contain;
  color: $white;
  h3 {
    color: $white;
  }
}
.latest-news {
  @media (min-width: $breakpoint-tablet) {
    max-width: 50%;
  }
  flex: 1;
  z-index: 1;
  color: $white;
  background: #574759;
  padding: 80px 40px;
  h3 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .news_item {
    width: 50%;
    h4 {
      font-size: 24px;
      margin: 10px 0px 20px 0px;
      a {
        color: $white;
      }
    }
    p {
      font-size: 17px;
      margin-bottom: 40px;
      font-weight: 100;
    }
    a.btn {
      display: inline-block;
    }
  }
  .slick-dots {
    position: absolute;
    top: -80px;
    @media (min-width: $breakpoint-tablet) {
      top: -100px;
    }
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    height: 20px;
  }
}

/* Map */
.map_heading {
  padding: 40px 0px;
  text-align: center;
  h3 {
    font-size: 36px;
  }
  p {
    font-size: 20px;
  }
}


/* Service Pages */

.single_service, .archive_service {
  padding: 60px 0px;
}

.service_filter {
  padding-bottom: 100px;
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px;
  }
  a.filter_btn {
    border: 1px solid #574658;
    @include border-radius(5px);
    color: #574658;
    padding: 15px 40px;
    margin: 10px;
    font-size: 18px;
    display: inline-block;

    &:hover, &.active {
      border: 1px solid $red;
      background: $red;
      color: $white;
      &:visited {
        color: $white;
      }
    }
  }
}

.service_list {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .service_item {
    width: 100%;
    margin: 20px 0 80px 0;
    @media (min-width: $breakpoint-tablet) {
      width: 48%;
      margin: 40px 1% 80px 1%;
    }
    @media (min-width: $breakpoint-laptop) {
      width: 31.3%;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 23%;
    }
    flex: 0 1 auto;
    padding: 40px 20px;
    text-align: center;
    border: 1px solid #e4e1e3;
    @include border-radius(5px);
    position: relative;
    &:after {
      content: "";
      flex: auto;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: normal;
    }
    .service_icon {
      svg {
        @include border-radius(50%);
        border: 1px solid #e4e1e3;
        width: 150px;
        padding: 10px;
        height: auto;
        margin-bottom: 30px;
        margin-top: -115px;
        background: $white;
        box-shadow: 1px 4px rgba(230, 227, 229, 0.2);
      }
      a:hover {
        svg {
          background: #574759;
          path {
            fill: $white;
          }
        }
      }
    }
    a.btn {

    }
    .service_text {
      
    }
  }
}
.single_service {
  a.back {
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 79px;
    }
    display: block;
    text-decoration: underline;
    font-size: 18px;
    background: url('images/button_arrow_red_left.svg') left center no-repeat;
    padding-left: 25px;
  }
  
  .widget.service {
    margin-bottom: 40px;
    li.current a, li:hover a {
      color: $red;
      display: block;
      background: url('images/button_arrow_red.svg') right center no-repeat;
    }
  } 

  h1 {
    margin-bottom: 20px;
  }
  h2 {
    border-bottom: 1px solid #574658;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 22px;
  }
  .overview {
    margin: 40px 0px;
    p {
      font-size: 18px;
    }
  }
  .more_info {
    p {
      font-size: 18px;
    }
  }
  .quote {
    margin-top: 40px;
    @include border-radius(5px);
    margin-left: 0%;
    background: url('images/quotemarks_top.svg') left 30px top 30px no-repeat,
                url('images/quotemarks_bottom.svg') right 30px bottom 30px no-repeat #007ac3;
    padding: 40px;
    color: $white;
    blockquote {
      margin: 0px 0px 20px 0px;
    }
  }
  .quote_image {
    img {
      margin-top: 40px;
      max-width: 100%;
    }
  }
}

.offering.row {
  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }
}

.core_offer, .paid_offer {
  font-size: 18px;
  @include border-radius(5px);
  padding: 30px;
  margin-bottom: 40px;
  @media (min-width: $breakpoint-tablet) {
  margin-top: 40px;
  margin-bottom: 40px;
  }
  .core-btn, .paid-btn {
    font-size: 14px;
    display: inline-block;
    color: $white;
    padding: 5px 15px;
    @include border-radius(3px);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 20px;
  }
  ul {
    margin: 0;
    li {
      font-size: 17px;
      margin: 4px 0px;
      text-indent: -1.25em;
    }
    li:before {
      height: 0.75rem;
      width: 0.75rem;
      margin-right: 0.5rem;
    }
  }
  p {
    font-size: 17px;
  }
}

.core_offer {
  background: #e7f5f5;
  h3 {
    color: #0f989a;
  }
  .core-btn {
    background: #0f989a;
  }
  ul {
    li:before {
      color: #0f989a;
    }
  }
  
}

.paid_offer {
  background: #fde8ee;
  h3 {
    color: #ed1651;
  }
  .paid-btn {
    background: $red;
  }
  ul {
    li:before {
      color: $red;
    }
  }
}

.benefits {
  overflow: hidden;
  h3 {
    margin-bottom: 30px;
  }
  .icon {
    height: 60px;
    width: 60px;
    @include border-radius(50%);
    background: $red;
    display: inline-block;
    float: left;
    clear: left;
    position: relative;
    svg {
      height: 60px;
      width: 60px;
      position: absolute;
      padding: 7px;
      path {
        fill: $white;
      }
    }
  }
  .benefit_text {
    font-size: 18px;
    border-bottom: 1px solid #eceaeb;
    padding: 14px 0px 24px 0px;
    margin: 0px  0px 10px 80px;
  }
  .benefit {
    overflow: hidden;
    width: 100%;
    &:nth-child(2) {
      .icon {
        background: #007ac3;
      }
    }
    &:nth-child(3) {
      .icon {
        background: $red;
      }
    }
    &:nth-child(4) {
      .icon {
        background: #f27022
      }
    }
    &:nth-child(5) {
      .icon {
        background: #0f989a;
      }
    }
  }
  &.small {
    margin: 20px 0px;
    .icon {
      height: 50px;
      width: 50px;
      svg {
        height: 50px;
        width: 50px;
        padding: 5px;
      }
    }
    .benefit_text {
      border-bottom: none;
      padding: 10px 0px 18px 0px;
      margin: 0px  0px 10px 60px;
    }
  }
}

// Slick CSS

/* Slider */
.slick-slider {
  position: relative;
  padding: 0;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:before, &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  margin: 0px;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  // padding: 0px 20px;
  img {
    display: block;
  }
  .slick-loading img {
    display: none;
  }
}

.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

@charset 'UTF-8';

ul {
  margin: 0;
}

/* Arrows */
.slick-prev,
.slick-next {
  overflow: visible;
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  width: 26px;
  height: 45px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  line-height: 1;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next:before {
  content: '';
}

.slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 6px;
  padding: 0;
  cursor: pointer;
  background: none;
  border: 1px solid $white;
  border-radius: 50%;
  &.slick-active, &:hover {
    background: $white;
    border: 1px solid $white;
  }
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 0px;
  height: 0px;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $white;
}