/* Grid */
.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; } }

@media (min-width: 768px) {
  .container {
    width: 90%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child, .columns:first-child, .alpha, .one-half.column:nth-child(odd) {
    margin-left: 0; }
  .one.column, .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .four-half.columns {
    width: 35%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
    .nine.columns.extra_gutter {
      width: 70%;
      margin-left: 8%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns, .full.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 50%;
    margin-left: 0; }
  .squashed, .no_left_margin {
    margin-left: 0; }
    .squashed:first-child, .no_left_margin:first-child {
      margin-left: 4%; }
  .one-third.column.no_left_margin {
    width: 34.6666666667%; }
  .offset-by-one.column, .offset-by-one.columns {
    margin-left: 8.66666666667%; }
  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17.3333333333%; }
  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34.6666666667%; }
  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 43.3333333333%; }
  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 60.6666666667%; }
  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 69.3333333333%; }
  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 78.0%; }
  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 86.6666666667%; }
  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 95.3333333333%; }
  .offset-by-one-third.column, .offset-by-one-third.columns {
    margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%; }
  .offset-by-one-half.column, .offset-by-one-half.columns {
    margin-left: 52%; } }

body.home footer {
  margin-top: 0 !important; }

section {
  overflow: hidden; }

a.btn {
  display: inline-block;
  border: 1px solid #574658;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #574658;
  padding: 15px 70px 15px 20px;
  font-size: 18px;
  display: inline-block;
  background: url("images/button_arrow.svg") no-repeat right 20px center; }
  a.btn:hover, a.btn.active {
    border: 1px solid #ec1550;
    background: url("images/button_arrow_white.svg") no-repeat right 20px center #ec1550;
    color: #fff; }
    a.btn:hover:visited, a.btn.active:visited {
      color: #fff; }
  a.btn:visited {
    color: #574658; }
  a.btn.white {
    border: 1px solid #fff;
    color: #fff;
    background: url("images/button_arrow_white.svg") no-repeat right 20px center; }
    a.btn.white:hover {
      border: 1px solid #ec1550;
      background: url("images/button_arrow_white.svg") no-repeat right 20px center #ec1550;
      color: #fff; }
      a.btn.white:hover:visited {
        color: #fff; }
    a.btn.white:visited {
      color: #fff; }
  a.btn.wide {
    padding: 15px 40px; }

/* Header */
.home_header {
  color: #fff;
  padding: 120px 0px 240px 0px;
  background: url("images/header.svg") center bottom no-repeat; }
  .home_header h2 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 30px; }
  .home_header p {
    font-size: 20px;
    margin-bottom: 30px; }

/* Services */
.our_services {
  overflow: visible;
  text-align: center; }
  .our_services .alignment {
    padding: 60px 40px 0px 40px;
    margin-top: -120px;
    background: #fff;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden; }
  .our_services h3 {
    font-size: 36px;
    margin-bottom: 30px; }
  .our_services p {
    font-size: 20px;
    margin-bottom: 40px; }
  .our_services .service_item {
    padding: 40px 0px 0px 0px;
    text-align: center;
    position: relative; }
    .our_services .service_item a.selected {
      border-bottom: 4px solid #574759; }
      .our_services .service_item a.selected .service_icon svg {
        background: #574759; }
        .our_services .service_item a.selected .service_icon svg path {
          fill: #fff; }
      .our_services .service_item a.selected::after {
        content: "";
        width: 26px;
        height: 45px;
        background: url("images/service_arrow.svg") center center no-repeat;
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .our_services .service_item a:hover .service_icon svg {
      background: #574759; }
      .our_services .service_item a:hover .service_icon svg path {
        fill: #fff; }
    .our_services .service_item a h3 {
      color: #574759; }
    .our_services .service_item h3 {
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: normal; }
    .our_services .service_item .service_icon svg {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #e4e1e3;
      width: 125px;
      padding: 10px;
      height: auto;
      margin: 0px auto 30px auto;
      background: #fff;
      box-shadow: 1px 4px rgba(230, 227, 229, 0.2); }
  .our_services .slick-prev {
    background: url("images/slider_left.svg") center center no-repeat;
    width: 26px;
    height: 45px;
    z-index: 2;
    top: 44%;
    left: -25px; }
  .our_services .slick-next {
    z-index: 2;
    background: url("images/slider_right.svg") center center no-repeat;
    width: 26px;
    height: 45px;
    top: 44%;
    right: -25px; }

/* Reports */
.reports-full-width {
  display: none;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .reports-full-width .background {
      background: linear-gradient(90deg, #f8f8f8 50%, #ec1550 50%);
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: pink;
      z-index: 0; } }
  @media (max-width: 768px) {
    .reports-full-width .container {
      width: 100%;
      padding: 0; } }
  .reports-full-width.current {
    display: flex !important; }

.reports-icon {
  position: relative;
  height: 400px;
  min-height: 400px;
  flex: 1;
  z-index: 1;
  padding: 40px;
  background: #ec1550;
  color: #fff; }
  @media (max-width: 768px) {
    .reports-icon {
      display: none; } }
  @media (min-width: 768px) {
    .reports-icon {
      height: 100%; } }
  .reports-icon h3 {
    color: #fff; }
  .reports-icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #fff;
    width: 250px;
    padding: 20px;
    height: auto;
    margin: 0px auto 30px auto; }
    .reports-icon svg path {
      fill: #fff; }
  .reports-icon .shadow {
    height: 15px;
    width: 250px;
    background: #bf2454;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block; }
  .reports-icon .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.reports {
  flex: 1;
  z-index: 1;
  color: #574759;
  background: #f8f8f8;
  padding: 40px; }
  @media (min-width: 768px) {
    .reports {
      padding: 40px 40px 40px 0px; } }
  .reports h3 {
    font-size: 34px; }

/* Browse */
.browse {
  background: #574759;
  color: #fff;
  padding: 40px 0px; }
  .browse p {
    font-size: 20px;
    margin-bottom: 0;
    text-align: center; }
  .browse a.btn {
    clear: left;
    margin-top: 40px; }
    @media (min-width: 768px) {
      .browse a.btn {
        clear: none;
        margin-top: 0px;
        margin-left: 40px; } }

/* Support */
.support {
  padding: 60px 0px; }
  .support .support_slider {
    padding: 40px; }
    .support .support_slider h3 {
      font-size: 36px;
      margin-bottom: 20px; }
    .support .support_slider p {
      font-size: 20px;
      margin-bottom: 40px; }
    .support .support_slider .slide {
      padding: 40px; }
    .support .support_slider .slick-prev {
      background: url("images/slider_left.svg") center center no-repeat;
      width: 26px;
      height: 45px;
      z-index: 2;
      top: 44%;
      left: -5px; }
      @media (min-width: 768px) {
        .support .support_slider .slick-prev {
          left: -15px; } }
    .support .support_slider .slick-next {
      z-index: 2;
      background: url("images/slider_right.svg") center center no-repeat;
      width: 26px;
      height: 45px;
      top: 44%;
      right: -5px; }
      @media (min-width: 768px) {
        .support .support_slider .slick-next {
          right: -15px; } }
    .support .support_slider .slick-dots {
      position: absolute;
      top: -20px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;
      height: 20px; }
      .support .support_slider .slick-dots li {
        border: 1px solid #574658; }
        .support .support_slider .slick-dots li:before {
          content: ""; }
        .support .support_slider .slick-dots li.slick-active {
          background: #574658; }
  .support .image {
    text-align: center; }
    .support .image img {
      max-width: 100%;
      height: auto; }

/* News */
.news-full-width {
  position: relative; }
  @media (min-width: 768px) {
    .news-full-width .background {
      background: linear-gradient(90deg, #a72f8d 50%, #574759 50%);
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: pink;
      z-index: 0; } }
  .news-full-width .container {
    display: flex; }
    @media (max-width: 768px) {
      .news-full-width .container {
        width: 100%;
        padding: 0;
        display: block; } }

.news-icon {
  flex: 1;
  z-index: 1;
  padding: 40px;
  background: #a72f8d url("images/news-bubbles.svg") left center no-repeat;
  background-size: contain;
  color: #fff; }
  @media (max-width: 768px) {
    .news-icon {
      display: none; } }
  .news-icon h3 {
    color: #fff; }

.latest-news {
  flex: 1;
  z-index: 1;
  color: #fff;
  background: #574759;
  padding: 80px 40px; }
  @media (min-width: 768px) {
    .latest-news {
      max-width: 50%; } }
  .latest-news h3 {
    font-size: 36px;
    margin-bottom: 20px; }
  .latest-news .news_item {
    width: 50%; }
    .latest-news .news_item h4 {
      font-size: 24px;
      margin: 10px 0px 20px 0px; }
      .latest-news .news_item h4 a {
        color: #fff;
        font-weight: bold; }
    .latest-news .news_item p {
      font-size: 17px;
      margin-bottom: 40px;
      font-weight: 100; }
    .latest-news .news_item a.btn {
      display: inline-block; }
  .latest-news .slick-dots {
    position: absolute;
    top: -80px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    height: 20px; }
    @media (min-width: 768px) {
      .latest-news .slick-dots {
        top: -100px; } }

/* Map */
.map_heading {
  padding: 40px 0px;
  text-align: center; }
  .map_heading h3 {
    font-size: 36px; }
  .map_heading p {
    font-size: 20px; }

/* Service Pages */
.single_service, .archive_service {
  padding: 60px 0px; }

.service_filter {
  padding-bottom: 100px;
  text-align: center; }
  .service_filter h1 {
    margin-bottom: 20px; }
  .service_filter p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px; }
  .service_filter a.filter_btn {
    border: 1px solid #574658;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #574658;
    padding: 15px 40px;
    margin: 10px;
    font-size: 18px;
    display: inline-block; }
    .service_filter a.filter_btn:hover, .service_filter a.filter_btn.active {
      border: 1px solid #ec1550;
      background: #ec1550;
      color: #fff; }
      .service_filter a.filter_btn:hover:visited, .service_filter a.filter_btn.active:visited {
        color: #fff; }

.service_list .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.service_list .service_item {
  width: 100%;
  margin: 20px 0 80px 0;
  flex: 0 1 auto;
  padding: 40px 20px;
  text-align: center;
  border: 1px solid #e4e1e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: relative; }
  @media (min-width: 768px) {
    .service_list .service_item {
      width: 48%;
      margin: 40px 1% 80px 1%; } }
  @media (min-width: 900px) {
    .service_list .service_item {
      width: 31.3%; } }
  @media (min-width: 1200px) {
    .service_list .service_item {
      width: 23%; } }
  .service_list .service_item:after {
    content: "";
    flex: auto; }
  .service_list .service_item h3 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: normal; }
  .service_list .service_item .service_icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #e4e1e3;
    width: 150px;
    padding: 10px;
    height: auto;
    margin-bottom: 30px;
    margin-top: -115px;
    background: #fff;
    box-shadow: 1px 4px rgba(230, 227, 229, 0.2); }
  .service_list .service_item .service_icon a:hover svg {
    background: #574759; }
    .service_list .service_item .service_icon a:hover svg path {
      fill: #fff; }

.single_service a.back {
  margin-bottom: 20px;
  display: block;
  text-decoration: underline;
  font-size: 18px;
  background: url("images/button_arrow_red_left.svg") left center no-repeat;
  padding-left: 25px; }
  @media (min-width: 768px) {
    .single_service a.back {
      margin-bottom: 79px; } }

.single_service .widget.service {
  margin-bottom: 40px; }
  .single_service .widget.service li.current a, .single_service .widget.service li:hover a {
    color: #ec1550;
    display: block;
    background: url("images/button_arrow_red.svg") right center no-repeat; }

.single_service h1 {
  margin-bottom: 20px; }

.single_service h2 {
  border-bottom: 1px solid #574658;
  margin-bottom: 20px;
  padding-bottom: 10px; }

.single_service h3 {
  font-size: 22px; }

.single_service .overview {
  margin: 40px 0px; }
  .single_service .overview p {
    font-size: 18px; }

.single_service .more_info p {
  font-size: 18px; }

.single_service .quote {
  margin-top: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-left: 0%;
  background: url("images/quotemarks_top.svg") left 30px top 30px no-repeat, url("images/quotemarks_bottom.svg") right 30px bottom 30px no-repeat #007ac3;
  padding: 40px;
  color: #fff; }
  .single_service .quote blockquote {
    margin: 0px 0px 20px 0px; }

.single_service .quote_image img {
  margin-top: 40px;
  max-width: 100%; }

@media (min-width: 768px) {
  .offering.row {
    display: flex; } }

.core_offer, .paid_offer {
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .core_offer, .paid_offer {
      margin-top: 40px;
      margin-bottom: 40px; } }
  .core_offer .core-btn, .core_offer .paid-btn, .paid_offer .core-btn, .paid_offer .paid-btn {
    font-size: 14px;
    display: inline-block;
    color: #fff;
    padding: 5px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .core_offer h3, .paid_offer h3 {
    margin-bottom: 20px; }
  .core_offer ul, .paid_offer ul {
    margin: 0; }
    .core_offer ul li, .paid_offer ul li {
      font-size: 17px;
      margin: 4px 0px;
      text-indent: -1.25em; }
    .core_offer ul li:before, .paid_offer ul li:before {
      height: 0.75rem;
      width: 0.75rem;
      margin-right: 0.5rem; }
  .core_offer p, .paid_offer p {
    font-size: 17px; }

.core_offer {
  background: #e7f5f5; }
  .core_offer h3 {
    color: #0f989a; }
  .core_offer .core-btn {
    background: #0f989a; }
  .core_offer ul li:before {
    color: #0f989a; }

.paid_offer {
  background: #fde8ee; }
  .paid_offer h3 {
    color: #ed1651; }
  .paid_offer .paid-btn {
    background: #ec1550; }
  .paid_offer ul li:before {
    color: #ec1550; }

.benefits {
  overflow: hidden; }
  .benefits h3 {
    margin-bottom: 30px; }
  .benefits .icon {
    height: 60px;
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background: #ec1550;
    display: inline-block;
    float: left;
    clear: left;
    position: relative; }
    .benefits .icon svg {
      height: 60px;
      width: 60px;
      position: absolute;
      padding: 7px; }
      .benefits .icon svg path {
        fill: #fff; }
  .benefits .benefit_text {
    font-size: 18px;
    border-bottom: 1px solid #eceaeb;
    padding: 14px 0px 24px 0px;
    margin: 0px 0px 10px 80px; }
  .benefits .benefit {
    overflow: hidden;
    width: 100%; }
    .benefits .benefit:nth-child(2) .icon {
      background: #007ac3; }
    .benefits .benefit:nth-child(3) .icon {
      background: #ec1550; }
    .benefits .benefit:nth-child(4) .icon {
      background: #f27022; }
    .benefits .benefit:nth-child(5) .icon {
      background: #0f989a; }
  .benefits.small {
    margin: 20px 0px; }
    .benefits.small .icon {
      height: 50px;
      width: 50px; }
      .benefits.small .icon svg {
        height: 50px;
        width: 50px;
        padding: 5px; }
    .benefits.small .benefit_text {
      border-bottom: none;
      padding: 10px 0px 18px 0px;
      margin: 0px 0px 10px 60px; }

/* Slider */
.slick-slider {
  position: relative;
  padding: 0;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    display: table;
    content: ''; }
  .slick-track:after {
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slider {
  margin: 0px; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }
  .slick-slide img {
    display: block; }
  .slick-slide .slick-loading img {
    display: none; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

ul {
  margin: 0; }

/* Arrows */
.slick-prev,
.slick-next {
  overflow: visible;
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  width: 26px;
  height: 45px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1; }

.slick-prev:before,
.slick-next:before {
  line-height: 1;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-next:before {
  content: ''; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 6px;
  padding: 0;
  cursor: pointer;
  background: none;
  border: 1px solid #fff;
  border-radius: 50%; }
  .slick-dots li.slick-active, .slick-dots li:hover {
    background: #fff;
    border: 1px solid #fff; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 0px;
  height: 0px;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff; }
